<div class="col-md-2">
  <div id="directions">
    <h4><strong><%= @direction.title %></strong></h4>
    <hr>
    <%= raw(@direction.body) %>
  </div>
</div>
<%= render 'form' %>
<%= render 'side_pane' %>
